* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  src: url("assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 1000;
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  src: url("assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 1000;
}

:root {
  /* paleta colores*/
  --background-color-celda-amarillo-claro: #faeee2;
  --background-color-celda-amarillo-oscuro: #ffcc69;
  --background-color-celda-purpura: #7651dc;
  --background-color-celda-lila: #dcd1fc;
  --background-color-celda-blanca: #ffffff;
  --background-color-body: #f5f5f5;
  --color-texto-negro: #1b1716;
  --color-texto-blanco: #feffff;
  --color-texto-purpura: #7551d9;

  --width-imagen-celda9: 180px;
  --width-imagen-celda8: 340px; 
  --width-imagen-celda11: 140px; 
  --width-imagen-celda2: 120px;
  --width-imagen-celda6: 220px; 
  --width-imagen-celda3: 300px; 
  --width-contenedor: 90%;
  --max-width-contenedor: 1100px;
  --min-height-body: 100vh;
  

  --padding-celda1: 50px 20px 40px 30px; 
  --padding-p-left-celda8: 25px;
  --padding-p-bottom-celda8: 20px;

  --width-tamaño-imagen-celda1: 200px; 
  --width-imagen-celda17: 200px; 
  --padding-imagen-celda17: 35px 0px 0px 0px;
  --padding-top-imagen-celda1: 15px;
  --padding-top-celda3: 5px;
  --padding-right-celda1: 10px;
  --padding-celda2: 20px;
  --padding-celda3: 20px;
  --padding-celda11: 15px;
  --padding-celda17: 20px;
  --padding-celda9: 20px;
  --padding-general-celda3: 30px;
  --padding-body: 40px 0;

  --padding-top-frase-grande-celda2: 30px;
  --padding-right-frase-grande-celda2: 20px;
  --padding-left-frase-grande-celda2: 20px;

  --padding-imagen-celda8-top: 20px;
  --padding-imagen-celda8-left: 20px;
  --padding-left-celda6: 25px;
  --padding-celda6-texto: 22px 30px 0px 0px;

  --padding-right-imagen-celda6: 15px;
  --padding-top-imagen-celda6: 10px;

  --margin-contenedor: 0 auto;
  --margin-top-contenedor: 15px; 
  --margin-celda8: 0;
 

  --font-primary: "DM Sans", sans-serif;
  --font-size-celda-mediana: 1.7rem; 
  --font-size-letra-grande-celda2: 2.5rem; 
  --font-size-celda6: 1.2rem; 
  --font-size-celda11: 3rem; 
  --font-size-p-celda9: 2rem; 
  --font-size-p-grande-celda3: 1.6rem; 
  --font-size-p-pequeño-celda3: 0.9rem; 
  --font-size-celda8: 1.2rem; 
  --font-size-p-celda6: 1.2rem;

  --font-style-italic: italic;
  --font-weight: bold;

  /* alineacion (ajustados para los nuevos tamaños) */
  --line-height-general: 0.8; 
  --line-height-contenedor-grande: 1.3; 
  --line-height-celda8: 1.1; 
  --line-height-celda6: 1.1; 
  --line-height-celda9: 1.3; 
  --line-height-celda3: 1; 
  --line-height-celda3-pequeño: 1; 
  --line-height-celda2: 1.2;
  
  /* --- NUEVAS VARIABLES PARA EL RESPONSIVE --- */
  --min-height-celda3-tablet: 400px;
  --min-height-celda3-mobile: 350px;
  --font-size-p-pequeño-celda3-tablet: 1.05rem;
  --font-size-p-pequeño-celda3-mobile: 0.7rem;

  --width-imagen-celda3-tablet: 80%;
  --max-width-imagen-celda3-tablet: 300px;
  --max-width-imagen-celda3-mobile: 250px;
  --padding-imagen-celda3-responsive: 7px;

  --width-imagen-celda17-tablet: 80%;
  --max-width-imagen-celda17-tablet: 300px;
  --padding-imagen-celda17-tablet: 12px;

  --min-height-celda8-responsive: 250px;
  --font-size-p-celda8-tablet: 1.7rem;

  /* border radius */
  --border-radius-celda: 10px;
  --border-radius-imagen-celda8: 34%;

  /* positions */
  --text-align-center: center;

  /* alineacion (ajustados para los nuevos tamaños) */
  --line-height-general: 0.8; 
  --line-height-contenedor-grande: 1.3; 
  --line-height-celda8: 1.1; 
  --line-height-celda6: 1.1; 
  --line-height-celda9: 1.3; 
  --line-height-celda3: 1; 
  --line-height-celda3-pequeño: 1; 
  --line-height-celda2: 1.2;
  
}



body {
  font-family: var(--font-primary, sans-serif);
  background-color: var(--background-color-body, #f5f5f5);
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: var(--min-height-body, 100vh);
  padding: var(--padding-body); /
}

.grid-container {
  display: grid;
  /* Define 4 columnas, cada una ocupa una fracción del espacio (1fr) */
  grid-template-columns: repeat(4, 1fr);
  /* Define 10 filas, cada una con una altura de 50 píxeles */
  /* Esta es la base de tu diseño y está bien, el contenido debe caber */
  grid-template-rows: repeat(10, 50px);
  gap: 25px;
  background-color: #f5f5f5;
  
 
  width: var(--width-contenedor); 
  max-width: var( --max-width-contenedor); 
  margin: var(-margin-contenedor); 
 
}

/* Celda "Create and schedule" */
#celda1 {
  grid-column: 1 / 2;
  grid-row: 1 / 6; 
  background-color: var(--background-color-celda-amarillo-claro);
  border-radius: var(--border-radius-celda);
  font-size: var(--font-size-celda-mediana);
  padding: var(--padding-celda1);
  line-height: var(--line-height-general);
  font-family: var(--font-primary, italic); 
}

#imagen-celda1 {
  padding-right: var(--padding-right-celda1);
  padding-top: var(--padding-top-imagen-celda1);
  width: var(--width-tamaño-imagen-celda1);
}

/* Celda "Write your content" */
#celda17 {
  grid-column: 1 / 2;
  grid-row: 6 / 11;
  background-color: var(--background-color-celda-amarillo-oscuro);
  border-radius: var(--border-radius-celda);
  font-size: var(--font-size-celda-mediana);
  padding: var(--padding-celda17); 
  line-height: var(--line-height-general);
  font-family: var(--font-primary);
}

#imagen-celda17 {
  width: var(--width-imagen-celda17);
  display: block; 
  padding: var(--padding-imagen-celda17);
}

/* Celda grande "Social Media 10x Faster" */
#celda2 {
  grid-column: 2 / 4;
  grid-row: 1 / 5;
  background-color: var(--background-color-celda-purpura);
  border-radius: var(--border-radius-celda);
  text-align: var(--text-align-center);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  line-height: var(--line-height-contenedor-grande);
  font-family: var(--font-primary);
  padding: var(--padding-celda2);
}

#imagen-celda2 {
  width: var(--width-imagen-celda2);
  display: block;
}

#frase-arriba-celda2 {
  padding-top: var(--padding-top-frase-grande-celda2);
  padding-left: var(--padding-left-frase-grande-celda2);
  padding-right: var(--padding-right-frase-grande-celda2);
  font-size: var(--font-size-letra-grande-celda2);
  font-family: var(--font-primary);
  color: var(--color-texto-blanco);
  line-height: var(--line-height-celda2); 
}

#frase-abajo-celda2 {
  color: var(--color-texto-blanco);
  font-family: var(--font-primary);
  margin-top: var(--margin-top-contenedor);
}

/* Celda "Schedule to social media" */
#celda3 {
  grid-column: 4 / 5;
  grid-row: 1 / 8;
  background-color: var(--background-color-celda-lila);
  border-radius: var(--border-radius-celda);
  font-family: var(--font-primary);
  padding: var(--padding-general-celda3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

#imagen-celda3 {
    width: var(--width-imagen-celda3);
    height: auto;
    border-radius: var(--border-radius-celda);
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translateX(-50%);
    object-fit: cover;
}

#celda3 p {
  color: var(--color-texto-negro);
  margin: var(--margin-celda8);
  position: relative; 
  z-index: 1;
}

#celda3 p:first-of-type {
  font-size: var(--font-size-p-grande-celda3);
  font-weight: var(--font-weight, bold);
  line-height: var(--line-height-celda3);
  padding-top: var(--padding-top-celda3);
}

#celda3 p:last-of-type {
  font-size: var(--font-size-p-pequeño-celda3);
  line-height: var(--line-height-celda3-pequeño);
}

/* Celda "Manage multiple accounts" */
#celda8 {
  grid-column: 2 / 3;
  grid-row: 5 / 8;
  background-color: var(--background-color-celda-blanca);
  border-radius: var(--border-radius-celda);
  position: relative;
  overflow: hidden;
  line-height: var(--line-height-celda8);
}

#imagen-celda8 {
  position: absolute;
  top: 0;
  left: 0px;
  width: var(--width-imagen-celda8);
  border-radius: var(--border-radius-imagen-celda8);
  padding-top: var(--padding-imagen-celda8-top);
  padding-left: var(--padding-imagen-celda8-left);
}

#celda8 p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: var(--font-size-celda8);
  padding-left: var(--padding-p-left-celda8);
  padding-bottom: var(--padding-p-bottom-celda8);
  margin: 0;
  font-family: var(--font-primary, normal);
}

/* Celda "Maintain a consistent" */
#celda6 {
  grid-column: 3 / 4;
  grid-row: 5 / 8; /* Ocupa 3 filas */
  background-color: var(--background-color-celda-amarillo-oscuro);
  border-radius: var(--border-radius-celda);
  position: relative;
  overflow: hidden;
  padding-left: var(--padding-left-celda6);
}

#celda6 p {
  font-size: var(--font-size-celda6);
  padding: var(--padding-celda6-texto);
  line-height: var(--line-height-celda6);
  font-family: var(--font-primary, normal);
  font-weight: var(--font-weight);
  
}

#imagen-celda6 {
  width: var(--width-imagen-celda6);
  padding-right: var(--padding-right-imagen-celda6);
  padding-top: var(--padding-top-imagen-celda6);
  display: block;
}

/* Celda ">56% faster" */
#celda11 {
  grid-column: 2 / 3;
  grid-row: 8 / 11; 
  background-color: var(--background-color-celda-blanca);
  border-radius: var(--border-radius-celda);
  padding: var(--padding-celda11);
  font-family: var(--font-primary);
}

#texto-celda11 {
  font-size: var(--font-size-celda11);
  font-weight: var(--font-weight, bold);
}

#imagen-celda11 {
  width: var(--width-imagen-celda11);
  
}

/* Celda "Grow followers" */
#celda9 {
  grid-column: 3 / 5;
  grid-row: 8 / 11;
  background-color: var(--background-color-celda-purpura);
  border-radius: var(--border-radius-celda);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-celda9);
  gap: 20px;
}

#imagen-celda9 {
  width: var(--width-imagen-celda9);
  height: auto;
}

#celda9 p {
  color: var(--color-texto-blanco);
  font-family: var(--font-primary);
  font-size: var(--font-size-p-celda9);
  line-height: var(--line-height-celda9);
}

/* Spans (sin cambios) */
#span_purpura {
  color: var(--color-texto-purpura);
  font-style: var(--font-style-italic, italic);
  display: block;
}

#span_amarillo {
  color: var(--background-color-celda-amarillo-oscuro);
}

/* Responsive Design */

/* Tablet */
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, auto);
  }

  #celda1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    text-align: var(--text-align-center);
  }

  #celda1 img, p {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  #span_purpura {
    display: inline;
  }

  #celda2 {
    grid-column: 1 / 3;
    grid-row: 4 / 7;
  }
  #celda3 {
    grid-column: 1 / 3;
    grid-row: 7 / 11;
    min-height: var(--min-height-celda3-tablet);
    text-align: var(--text-align-center);
  }

  #celda3 p:last-of-type {
    font-size: var(--font-size-p-pequeño-celda3-tablet);
  }

  #imagen-celda3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width-imagen-celda3-tablet); 
    max-width: var(--max-width-imagen-celda3-tablet); 
    padding: var(--padding-imagen-celda3-responsive);
  }

  #celda17 {
    grid-column: 1 / 3;
    grid-row: 11 / 14;
    text-align: var(--text-align-center);
  }

  #imagen-celda17 {
    width: var(--width-imagen-celda17-tablet); 
    max-width: var(--max-width-imagen-celda17-tablet); 
    padding: var(--padding-imagen-celda17-tablet);
  }

  #imagen-celda17 {
    margin: 0 auto;
  }

  #celda8 {
    grid-column: 1 / 2;
    grid-row: 14 / 16;
    min-height: var(--min-height-celda8-responsive);
  }

  #celda8 p {
    font-size: var(--font-size-p-celda8-tablet);
  }

  #celda6 {
    grid-column: 2 / 3;
    grid-row: 14 / 16;
  }
  #celda11 {
    grid-column: 1 / 2;
    grid-row: 16 / 18;
  }
  #celda9 {
    grid-column: 2 / 3;
    grid-row: 16 / 18;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
  }

  #celda1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: var(--text-align-center);
  }
  #celda2 {
    grid-column: 1 / 2;
    grid-row: 3 / 6;
  }
  #celda3 {
    grid-column: 1 / 2;
    grid-row: 6 / 10;
    min-height: var(--min-height-celda3-mobile);
    text-align: var(--text-align-center);
  }
    #celda3 p:last-of-type {
    font-size: var(--font-size-p-pequeño-celda3-mobile);
  }

  #imagen-celda3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width-imagen-celda3-tablet); 
    max-width: var(--max-width-imagen-celda3-mobile); 
    padding: var(--padding-imagen-celda3-responsive);
  }

  #celda17 {
    grid-column: 1 / 2;
    grid-row: 10 / 13;
    text-align: var(--text-align-center);
  }
  #celda8 {
    grid-column: 1 / 2;
    grid-row: 13 / 15;
    min-height: var(--min-height-celda8-responsive); 
  }
  #celda6 {
    grid-column: 1 / 2;
    grid-row: 15 / 17;
  }
  #celda11 {
    grid-column: 1 / 2;
    grid-row: 17 / 19;
  }
  #celda9 {
    grid-column: 1 / 2;
    grid-row: 19 / 21;
  }

}
